body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

td {
  padding: 1rem 3rem 1rem 3rem;
  background: pink;
}

.tablehead th {
  background: yellow;
  width: 5rem;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

tr {
  padding: 1rem 3rem 1rem 3rem;
  background: pink;
}
